<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>onnorokomweb.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="google-site-verification" content="zV9gc9_kecPyAmRUGvu9SZUFUpjXeS-2HIO3MtfIrfw" />
    <meta name="description" content="onnorokom web services"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/ico" href="/img/r.ico" />
    <!-- Place r.ico in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,900' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/backToTop.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
    <div id="wrapper">
        <a th:href="@{/}"><img src="/img/logo.png" alt="" class="mobileLogo"/></a>
        <div th:replace="fragment/header :: header"></div>
        <div layout:fragment="content"></div>
        <div th:replace="fragment/common :: common"></div>
        <div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
    </div>
</body>
</html>
