/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family: 'Open Sans', sans-serif; 
	font-size:14px;
	background-color: #282828;
}
.pageWraper{

}
.wraper{
	max-width: 1170px;
	margin: 0 auto;
}
header{
	height: 100px;
	width:100%;
	background-color: #14202c;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
	position: fixed;
	z-index:99999999;
}
.activeMenu{
	color: #3a9e8c !important;
	border-bottom:2px solid #3a9e8c;
}
#topMenu > div > div.col-md-2.col-sm-2.logo > img {
  background-color: #14202C;
  padding: 0 15px 10px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
}
.mobileLogo{display:none;}
#topBanner{padding-top:100px;}
.redText{color: #fe5c58;}
.responsivImg{height:auto;width:100%;}
.logo{padding-top: 15px;}
#menu>li{
	font-family: roboto;
	font-size: 16px;
	font-weight: 400;
	margin-top: 36px;
	margin-left: 30px;
	padding: 3px 0px;
}
#menu>li>a{color: #fff;padding-bottom: 3px;}
#menu>li>a:hover{
	text-decoration: none;
	color: #3a9e8c;
	border-bottom:2px solid #3a9e8c;
	transition: color 0.3s;
}#menu>li>a:hover span{
	text-decoration: none;
	color: #3a9e8c;
	transition: color 0.3s;
}
.roundImg{
	height:140px;
	width: 140px;
	border: 2px solid #fff;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	overflow: hidden;
}
.roundImg img{height:100%;width:100%;}
#downArrow{position: relative;}
.arrowDown{
	height: 30px;
	width: 30px;
	background-color: #fe5c58;
	transform: rotate(45deg);
	position: absolute;
	top: -15px;
	left: 50%;
	margin-left: -15px;
	-webkit-box-shadow: 4px 4px 2px -1px rgba(27, 36, 45, 0.87);
	box-shadow: 4px 4px 2px -1px rgba(27, 36, 45, 0.87);
}
/* ======= employees  ======== */
#employees{
	min-height: 400px;
	background-color: #e2e7e7;
}
.emploWraper{max-width:750px;margin:0 auto;}
/* ======= end of employees  ======== */
/* ======= joinUs  ======== */
#joinUs{
	height:200px;
	background-image:url("../img/joinUsBg.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
.joinUsWraper{
	margin: 60px auto;
	height: 80px;
	max-width: 331px;
	border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: roboto;
	font-size: 25px;
	font-weight: 600;
}
.joinUsWraper a:hover{
	text-decoration: none;
}
.joinUsWraper a:hover .joinUsText{
	background-color: rgba(113, 70, 70, 0.76);
	transition: all 0.5s;
}
.joinUsText {
	height: 100%;
	width: 100%;
	padding-top: 20px;
	color: #fff;
}
/* ======= endJoinUs  ======== */
/* ======= contact  ======== */
#contact{
	background-color:#334960;
	min-height: 657px;
	color:white;
}
.contactWraper{
	max-width: 740px;
	margin: 0 auto;
}
#contact h1{
	font-family: 'Roboto', sans-serif;
	font-weight:200;
	font-size:56px;
	margin-top:75px;
	margin-bottom:50px;
}
#contact p{
	line-height: 25px;
	margin-bottom: 70px;
}
.inputText{
	background: transparent;
	height: 50px;
	width: 100%;
	border: none;
	padding: 0 25px;
}
.messInputMargin{margin-top: 85px;margin-bottom: 35px;}
::-webkit-input-placeholder { color:#53677c; }
::-moz-placeholder { color:#53677c; } /* firefox 19+ */
:-ms-input-placeholder { color:#53677c; } /* ie */
input:-moz-placeholder { color:#53677c; }
input:focus{outline:0}
.inputBorder{
	width: 100%; 
	height: 50px;
	background: transparent; 
	position: relative; 
	z-index:0;
	border-bottom:2px solid #4b6076;
}
.inputBorder:after,.inputBorder:before{
	content:''; 
	width: 2px;
	height: 10px; 
	background: #4b6076; 
	position: absolute;
	bottom:-2px;
}
.inputBorder:after{right:-2px;}
.inputBorder:before{left:-2px;}
.submit{
	color: #49c9af;
	border: 2px solid #49c9af;
	background: transparent;
	float: right;
	margin-bottom: 90px;
}
.submit>input {background: transparent;border:0;text-transform: uppercase;padding: 15px 30px;}
.submit>input:hover {background: rgba(20, 32, 44, 0.38);  transition: all 0.5s;}
/* ======= end of contact ======== */
/* ======= footer  ======== */
footer{
	background-color: #14202c;
	min-height: 350px;
	color:white;
}
#footerSocial>ul{margin:20px auto;}
#footerSocial>ul>li{
	background-color: white;
	height: 35px;
	width: 35px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	padding: 0px;
	margin: 10px;
}
#footerSocial>ul>li:hover{  background-color: rgba(107, 192, 169, 0.78);  transition: all 0.5s;}
.socialIcon{
	height: 100%;
	width: 100%;
	padding: 7px;
}
.fa{color:#182227;}
.greenText{color:#3a9e8c;}
#footerMail{margin-bottom:20px;}
#footerMail,#footerCell{font-size:16px;}
#footerMail{margin-top:80px;}
/* ======= end of footer  ======== */













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 992px) and (max-width: 1199px) {}
@media only screen and (min-width: 768px) and (max-width: 991px) {}
@media only screen and (min-width: 480px) and (max-width: 767px) {}
@media only screen and (min-width: 320px) and (max-width: 479px) {}
@media only screen and (max-width: 320px) {}
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 767px) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display: block;
		position: fixed;
		width: 100%;
		z-index: 9999;
		background-color: #14202c;
		min-height: 65px;
		padding-top: 10px;
	}
	.slicknav_btn {margin-bottom: 12px;}
	header{display:none}
	.mobileLogo {
		display: block;
		width: 83px;
		position: fixed;
		top: 5px;
		left: 10px;
		z-index: 99999999;
	}
}
@media only screen and (max-width: 980px){
	.arrowDown {
		height: 26px;
		width: 26px;
		top: -13px;
		left: 50%;
		margin-left: -13px;
	}
}
@media only screen and (max-width: 767px){
	.emploText,.emploMap {text-align:center}
	.emploText h1 {margin-top: 40px;}
	.arrowDown {
		height: 22px;
		width: 22px;
		top: -11px;
		left: 50%;
		margin-left: -11px;
	}
}

@media only screen and (max-width: 360px) {
	.arrowDown {
		height: 20px;
		width: 20px;
		top: -11px;
		left: 50%;
		margin-left: -10px;
	}
	.emploText{text-align:center}
	.emploText h1 {
		font-family: roboto;
		font-weight: 100;
		font-size: 100px;
		color: #FE5C58;
		margin-top: 45px;
		margin-bottom: 0px;
	}
	.emploMap {margin: 10px 0px 0;}
	.emploMap img{width: 100%;}
	#footerSocial > ul {
		margin: 20px auto;
		width: 276px;
	}
	.joinUsWraper {
		margin: 60px auto;
		height: 80px;
		max-width: 240px;
		border: 3px solid #FFF;
		color: #FFF;
		text-transform: uppercase;
		text-align: center;
		font-family: roboto;
		font-size: 25px;
		font-weight: 600;
	}
	#contact p {
		line-height: 25px;
		margin: 0px 18px 70px;
	}
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
