#profileImg>div>div{margin-bottom:30px;margin-top:0px;}
#profileImg>div>div>div>h1{color:#FFF;margin-bottom:25px;font-family: roboto;font-size: 40px;font-weight: 200}
#profileImg>div>div>div>img{width:100%;border: 3px solid rgb(73, 201, 175);}
#profileImg>div>div>div>p{
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    color: #FFF;
    margin-top: 80px;
    margin-bottom: 30px;
}