#pageBody{	
	background-color:#334960;
	padding: 30px 0 40px 0;
}
header{
	min-height: 100px;
	background-color: #14202c;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
	position: relative;
}
.bodyWraper{
	background-color:#f6f6f6;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	padding: 50px 100px;
}
.pageTitle{
	font-family: roboto;
	font-size: 35px;
	text-align: center;
	color: #fe5c58;
	font-weight: 300;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	padding-top: 18px;
}
.arrowDown {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F6F6F6;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.profileItem{padding: 37px 0px 30px 0px}
.inputLevel{
	float: left;
	width: 236px;
	height: 50px;
	padding-left: 120px;
	padding-top: 16px;
	color: #777777;
	
}
.inputField,.inputFieldBio{
	float: left;
	width: 734px;
	height: 50px;
	padding-top: 8px;
}
.inputField1,.inputField2,.inputYear,.inputMonth,.inputDay,.inputGender,.inputBio{
	height: 34px;
	width: 360px;
	border: 1px solid #ddd;
	padding-left: 10px;
}
.inputField2{width: 148px;}
.inputYear{width: 100px;}
.inputMonth{width: 70px;}
.inputDay{width: 80px;}
.inputGender{width: 115px;}
.inputBio{height: 95px; width: 360px}
.inputFieldBio{height: 125px}
.saveButton{
	text-transform: uppercase;
	height: 33px;
	width: 82px;
	background-color: #49c9af;
	border: none;
	margin-right: 13px;
}
.cancelButton{
	text-transform: uppercase;
	height: 33px;
	width: 99px;
	background-color: #fe5c58;
	border: none;
}

/* ==========================================================================
							Responsive Design.
   ========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.inputLevel {
		padding-left: 60px;
		width: 180px;
	}
	.inputField, .inputFieldBio {width: 560px;}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.inputLevel {
		width: 153px;
		padding-left: 32px;
	}
	.inputField, .inputFieldBio {width: 365px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.bodyWraper {padding: 50px 50px;	}
	.inputLevel {
		width: 115px;
		padding-left: 0px;
	}
	.inputField1 ,.inputBio{width: 257px;}
	.inputField, .inputFieldBio {width: 260px;}
	.profileWraper{width: 345px; margin: 0 auto;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.bodyWraper {padding: 30px;}
	.pageTitle {font-size: 25px;}
	.profileWraper{width: 230px; margin: 0 auto;}
	.inputField, .inputFieldBio {width: 260px;}
	.inputFieldBio {height: 110px;}
	.inputField1, .inputField2,.inputGender,.inputBio {width: 260px;}
	.inputLevel {
		width: 260px;
		height: 35px;
		padding-left: 0px;
		text-align: center;
	}
}
@media only screen and (max-width: 320px) {
	.bodyWraper {padding: 30px;}
	.pageTitle {font-size: 25px;}
	.profileWraper{width: 100%}
	.inputField, .inputFieldBio {width:100%}
	.inputFieldBio {height: 110px;}
	.inputField1, .inputField2,.inputGender,.inputBio {width: 100%;}
	.inputLevel {
		width: 100%;
		height: 35px;
		padding-left: 0px;
		text-align: center;
	}
	.inputYear {width: 45%;}
	.inputMonth {width: 25%;}
	.inputDay {width: 25%;}
	.cancelButton {width: 45%;}
	.saveButton {width: 40%;}
}


/* ==========================================================================
							Responsive Design.
   ========================================================================== */