
/* ======= header  ======== */

#topBanner{background-color:#243343;}

/* ======= end of header  ======== */
/* ======= testimonial  ======== */
#testimonial{
	background-color: #783f6a;
	min-height: 389px;
	position: relative;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(27, 36, 45, 0.87);	
	box-shadow: 0px 4px 5px 0px rgba(27, 36, 45, 0.87);	
}

.testimonialText h1{
	font-family: roboto;
	font-size: 56px;
	font-weight: 200;
	color: #fff;
	margin-top: 70px;
	margin-bottom: 40px;
	text-align: center;
}
.testimonialText p{
	font-size: 18px;
	font-weight: 200;
	text-align: justify;
	color: #fff;
	margin-top: -10px;
	line-height: 32px;
}
.arrowDown{background-color: #783f6a;}
/* ======= end of testimonial  ======== */
/* ======= personal detail  ======== */
#personDetail{
	background-color: #334960;
	min-height: 583px;
}
.personDetailWraper{
	max-width: 1170px;
	margin: 68px auto 0px;
	background-color: #FFF;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-box-shadow: 0px -2px 6px 3px rgba(15, 28, 42, 0.86);
	box-shadow: 0px -2px 6px 3px rgba(15, 28, 42, 0.86);
	padding-bottom: 0px;
	min-height: 515px;
}
.personDetailTitle{
	font-family: roboto;
	font-size: 35px;
	font-weight: 300;
	text-align: center;
	color: #fd6a67;
	padding-top: 70px;
	padding-bottom: 50px;
}
.personDetailBody{
	margin:0 auto;
	max-width: 780px;
}
.attribute{
	font-size: 15px;
	color: #8d8d8d;
	min-height: 50px;
}
.colon {
    color: #8D8D8D;
    margin-left: -9px;
}
.description{
	font-size: 15px;
	color: #000;
	min-height: 50px;
}
.profileImg{  
	margin: 0 auto 40px;
	width: 262px;
	border-radius: 50%;
	border: 5px solid #F1F1F1;
}
/* ======= end of personal detail  ======== */

/* ==========================================================================
							Responsive Design.
   ========================================================================== */

@media only screen and (max-width: 990px) {}
@media only screen and (max-width: 990px) {
	.testimonialText h1 {
		font-family: roboto;
		font-size: 36px;
		font-weight: 300;
		color: #FFF;
		margin-top: 55px;
		margin-bottom: 25px;
		text-align: center;
	}
	.testimonialText p {
		font-size: 16px;
		font-weight: 200;
		text-align: justify;
		color: #FFF;
		margin-top: -10px;
		line-height: 28px;
		margin-left: -20px;
	}
	.personDetailTitle {
		font-family: roboto;
		font-size: 35px;
		font-weight: 300;
		text-align: center;
		color: #FD6A67;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.attribute {
		font-size: 15px;
		color: #8D8D8D;
		min-height: 50px;
		padding-left: 80px;
	}
	.description {
		font-size: 15px;
		color: #000;
		min-height: 50px;
		padding-left: 80px;
	}
}
@media only screen and (max-width: 570px) {
	.attribute {
		padding-left: 45px;
	}
}
@media only screen and (max-width: 767px){
	.roundImg {
		margin: 0 auto 25px;
	}
	.testimonialText p {
		margin: 0px 10px 25px;
	}
}
@media only screen and (max-width: 360px) {
	.roundImg {
		height: 140px;
		width: 140px;
		border: 2px solid #FFF;
		-webkit-border-radius: 70px;
		border-radius: 70px;
		overflow: hidden;
		margin: 0 auto 25px;
	}
	.testimonialText p {
		font-size: 16px;
		font-weight: 200;
		text-align: justify;
		color: #FFF;
		line-height: 28px;
		margin: 0px 10px 25px;
	}
	.personDetailTitle {
		font-family: roboto;
		font-size: 25px;
		font-weight: 400;
		text-align: center;
		color: #FD6A67;
		padding-top: 30px;
		padding-bottom: 25px;
	}
	.attribute {
		font-size: 15px;
		color: #8D8D8D;
		min-height: 50px;
		padding-left: 30px;
	}
	.description {
		font-size: 15px;
		color: #000;
		min-height: 50px;
		padding-left: 65px;
	}
}
@media only screen and (max-width: 360px) {
	.attribute {
		font-size: 15px;
		color: #8D8D8D;
		min-height: 50px;
		padding-left: 22px;
	}
}
/* ==========================================================================
							Responsive Design.
   ========================================================================== */