
/* ======= meet our team  ======== */
#meet{
	min-height: 360px;
	background-color: #49c9af;
	position: relative;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(27, 36, 45, 0.87);
	box-shadow: 0px 4px 5px 0px rgba(27, 36, 45, 0.87);
}
#meet h1{
	font-family: roboto;
	font-size: 56px;
	font-weight: 100;
	color: #fff;
	margin-top: 75px;
	margin-bottom: 40px;
	text-align: center;
}
#meet p{
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
	color: #fff;
	margin-top: 0px;
	margin-bottom: 30px;
}
.arrowDown{background-color: #49C9AF;}
/* ======= end of meet our team  ======== */
/* ======= profile image  ======== */
#profileImg{
	background-color: #334960;
	min-height: 1100px;
	padding: 80px 0;
}
#profileImg>.container>.wraper>ul{margin-left: -8px;margin-right: -8px;}
#profileImg>.container>.wraper>ul>li{
	margin: 8px;
	padding:0;
}
.roundImg{position: relative}
.profileImgHover{
	height: 140px;
	width: 140px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	background-color: rgba(215, 69, 65, 0.65);
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	position: absolute;
	margin-top: -140px;
	z-index: -9;
	padding-top: 60px;
}
#profileImg>.container>.wraper>ul>li>a:hover .profileImgHover{z-index: 9}
/* ======= end of profile image  ======== */

/* ==========================================================================
							Responsive Design.
   ========================================================================== */
@media only screen and (max-width: 980px) {
	#profileImg > .container > .wraper > ul > li {
		margin: 20px;
		padding: 0px;
	}
}
@media only screen and (max-width: 360px) {
	#meet h1 {
		font-family: roboto;
		font-size: 50px;
		font-weight: 100;
		color: #FFF;
		margin-top: 50px;
		margin-bottom: 25px;
		text-align: center;
	}
}

@media only screen and (max-width: 360px) {
	#profileImg {
		background-color: #334960;
		min-height: 1100px;
		padding: 50px 0px;
	}
	.roundImg {
		height: 100px;
		border: 2px solid #FFF;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		width: 100px;
		overflow: hidden;
	}
	#profileImg > .container > .wraper > ul > li {
		margin: 5px;
		padding: 0px;
	}
	.profileImgHover {
		height: 100px;
		width: 100px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		background-color: rgba(215, 69, 65, 0.65);
		text-transform: uppercase;
		text-align: center;
		color: #FFF;
		position: absolute;
		margin-top: -100px;
		z-index: -9;
		padding-top: 42px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 320px) {
	#profileImg {
		background-color: #334960;
		min-height: 1100px;
		padding: 50px 0px;
	}
	.roundImg {
		height: 95px;
		border: 2px solid #FFF;
		border-radius: 50px;
		width: 95px;
		overflow: hidden;
	}
	#profileImg > .container > .wraper > ul > li {
		margin: 2px;
		padding: 0px;
	}
	.profileImgHover {
		height: 95px;
		width: 95px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		background-color: rgba(215, 69, 65, 0.65);
		text-transform: uppercase;
		text-align: center;
		color: #FFF;
		position: absolute;
		margin-top: -95px;
		z-index: -9;
		padding-top: 40px;
		font-size: 12px;
	}
}
/* ==========================================================================
							Responsive Design.
   ========================================================================== */