<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title >অন্যরকম ওয়েব সার্ভিসেস - বিভাগ পরিচিতি </title>
    <link rel="stylesheet" href="/css/team.css"/>
    <script>
        $(document).ready(function() {
            $('#hImg').hide();
            $('#home').removeClass("activeMenu");
            $('#team').removeClass("activeMenu");
            $('#contact').removeClass("activeMenu");
            $('#about').removeClass("activeMenu");
            $('#login').removeClass("activeMenu");
            $('#department').addClass("activeMenu");
        });
    </script>
</head>
<body>

<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->

    <section id="content" layout:fragment="content">
      <div class="pageWraper">
          <section id="topBanner">
              <div class="container">
                  <div class="flexslider box">
                      <ul class="slides">
                          <li th:each="departmentImageList : ${departmentImageList}">
                              <a href="#"><img th:attr="src=@{/img/department/max/} + ${departmentImageList}"/></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </section>
        <section id="meet">
            <div class="container">
                <div class="wraper" th:each="departmentdetails : ${departmentdetails}" >
                    <h1 th:text="${departmentdetails.nameBn}"></h1>
                    <p th:text="${departmentdetails.description}"></p>
                </div>
            </div>
        </section>
        <section id="downArrow"><div class="arrowDown"></div></section>
        <section id="profileImg">
            <div class="container">
                <div class="wraper">
                    <ul class="list-inline list-unstyled text-center"  >
                        <li th:each="deptprofilelist : ${deptprofilelist}"><a href="#" th:href="@{/client/profile/} + ${deptprofilelist.id}"><div class="roundImg"><img th:attr="src=@{/img/profile/} + ${deptprofilelist.image}" /></div><div class="profileImgHover"><p th:text="${deptprofilelist.nickName}"></p></div></a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>
<!--/content-->

<!--common-->
<div th:replace="fragment/common :: common"> </div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>
</html>
