<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - বিভাগ সমূহ</title>
    <link rel="stylesheet" href="/css/team.css"/>
    <link rel="stylesheet" href="/css/department.css"/>
    <script>
        $(document).ready(function() {
            $('#hImg').hide();
            $('#home').removeClass("activeMenu");
            $('#team').removeClass("activeMenu");
            $('#contact').removeClass("activeMenu");
            $('#about').removeClass("activeMenu");
            $('#login').removeClass("activeMenu");
            $('#department').addClass("activeMenu");

            var deptId=0;
        });

        $(window).load(function () {
          function loadDepartment(deptId){
              $.ajax({
                  type: "POST",
                  url: "/client/department/images/dept/"+deptId,
                  dataType: "json",
                  contentType : "html",
                  charSet : "utf-8",
                  cache:false,
                  success: function(response){
                      var path = "/img/department/min/";
                      var image1 = response[0];
                      var image2 = response[1];
                      var image3 = response[2];
                      var image4 = response[3];
                      var image5 = response[4];
                      if(null != image1) $("."+deptId+"1").attr("src", path+image1);
                      if(null != image2) $("."+deptId+"2").attr("src", path+image2);
                      if(null != image3) $("."+deptId+"3").attr("src", path+image3);
                      if(null != image4) $("."+deptId+"4").attr("src", path+image4);
                      if(null != image5) $("."+deptId+"5").attr("src", path+image5);
                  },
                  error: function(error){
                      //alert("Error");
                  },
                  complete: function(){
                      //alert("Complete");
                  }
              });
          }
          departmentIdArr.forEach(function(element, index){
               loadDepartment(element);
          });
        });

    </script>
</head>
<body>

<script>
    var departmentIdArr = ();
    var departmentSerial = 0;
</script>

<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->

<section id="content" layout:fragment="content">
    <div class="pageWraper">
        <section id="topBanner">
            <div class="container">
                <div class="flexslider box">
                    <ul class="slides">
                        <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==14}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                        <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==15}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                        <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==16}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                        <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==17}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                        <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==18}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="meet">
            <div class="container">
                <div class="wraper" th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==24}">
                    <h1 th:text="${siteInfoLists.titleBn}"></h1>
                    <p th:text="${siteInfoLists.contentBn}"></p>
                </div>
            </div>
        </section>
        <section id="downArrow"><div class="arrowDown"></div></section>

        <section id="profileImg">
            <script>var i=1; var departmentSerial=0; departmentIdArr = new Array();</script>
            <div class="container" th:each="departmentList, iterStat : ${departmentList}" th:id="${departmentList.id}" >
                <div class="row" th:if="${iterStat.index%2 ==0 }">
                    <!--  <script>loadDepartment(i);i++;</script> -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        departmentIdArr[departmentSerial++] = /*[[${departmentList.id}]]*/ 'Sebastian';
                        /*]]>*/
                    </script>
                    <div class="col-md-6">
                        <a href="#" class="departmentA" th:href="@{/client/department/} + ${departmentList.id}"><h1 class="departmentTitle" th:text="${departmentList.nameBn}"></h1></a>
                        <a class="departmentA" th:href="@{/client/department/} + ${departmentList.id}">
                            <!--<img class="departmentImg" th:attr="src=@{/img/} + ${departmentList.image}" />-->
                            <section class="slider">
                                <div class="flexslider departmentImg">
                                    <ul class="slides">
                                        <li th:each="departmentImageIndex  : ${#numbers.sequence( 1, departmentList.getMinImages().size())}">
                                            <a th:href="@{/client/department/} + ${departmentList.id}"><img th:attr="class=${departmentList.id}+''+${departmentImageIndex}"/></a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <p class="departmentDetail" th:text="${departmentList.description}"></p>
                    </div>
                </div>
                <div class="row" th:if="${iterStat.index%2 !=0 }">
                    <!--  <script>loadDepartment(i);i++;</script> -->
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        departmentIdArr[departmentSerial++] = /*[[${departmentList.id}]]*/ 'Sebastian';
                        /*]]>*/
                    </script>
                    <div class="col-md-6">
                        <p class="departmentDetail" th:text="${departmentList.description}"></p>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="departmentA" th:href="@{/client/department/} + ${departmentList.id}"><h1 class="departmentTitle" th:text="${departmentList.nameBn}"></h1></a>
                        <a href="#" th:href="@{/client/department/} + ${departmentList.id}">
                        </a>
                        <section class="slider">
                            <div class="flexslider departmentImg">
                                <ul class="slides">
                                    <li th:each="departmentImageIndex : ${#numbers.sequence( 1, departmentList.getMinImages().size())}">
                                        <a th:href="@{/client/department/} + ${departmentList.id}"><img th:attr="class=${departmentList.id}+''+${departmentImageIndex}"/></a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!--/content-->
<!--common-->
<div th:replace="fragment/common :: common"> </div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>
</html>
