<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title >অন্যরকম ওয়েব সার্ভিসেস - দল পরিচিতি </title>
    <link rel="stylesheet" href="/css/profile.css"/>
    <script>
        $(document).ready(function() {
            $('#hImg').hide();
            $('#home').removeClass("activeMenu");
            $('#department').removeClass("activeMenu");
            $('#contact').removeClass("activeMenu");
            $('#about').removeClass("activeMenu");
            $('#login').removeClass("activeMenu");
            $('#team').addClass("activeMenu");
        });
    </script>
</head>
    <body>
    <!--header-->
    <div th:replace="fragment/header :: header"></div>
    <!--/header-->

    <!--content-->
   <section id="content" layout:fragment="content">

	 <div class="pageWraper"  >
		 <section id="testimonial">
             <div class="container">
                 <div class="row">
                     <div class="col-md-12 testimonialText"><h1 th:text="${profile.fullName}"></h1></div>
                     <div  class="col-md-12 text-center"><img th:attr="src=@{/img/profile/} + ${profile.image}" class="profileImg" /></div>
                 </div>
             </div>
         </section>
		<section id="downArrow"><div class="arrowDown"></div></section>
		<section id="personDetail" th:each="profile : ${profile}">
			<div class="container">
				<div class="personDetailWraper">
					<div class="row personDetailTitle">Details of <p th:text="${profile.nickName}" th:remove="tag"></p></div>
					<div class="row personDetailBody">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 attribute">Full Name</div>
                            <div class="col-md-10 col-sm-10 col-xs-10 description"><span class="colon">:</span> <p th:text="${profile.fullName}" th:remove="tag"></p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 attribute">Nick Name</div>
                            <div class="col-md-10 col-sm-10 col-xs-10 description"><span class="colon">:</span> <p th:text="${profile.nickName}" th:remove="tag"></p></div>
                        </div>
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-2 attribute">Department</div>
							<div class="col-md-10 col-sm-10 col-xs-10 description"><span class="colon">:</span> <p th:text="${profile.department.name}" th:remove="tag"></p></div>
						</div>
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 attribute">Position</div>
                            <div class="col-md-10 col-sm-10 col-xs-10 description"><span class="colon">:</span > <p th:text="${profile.designation}" th:remove="tag"></p></div>
                        </div>
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-2 attribute">Email</div>
							<div class="col-md-10 col-sm-10 col-xs-10 description"><span class="colon">:</span> <p th:text="${profile.email}" th:remove="tag"></p></div>
						</div>
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 attribute">Gender</div>
                            <div class="col-md-10 col-sm-10 col-xs-10 description"><span class="colon">:</span> <p th:text="${profile.sex}" th:remove="tag"></p></div>
                        </div>
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-2 attribute">Join Date</div>
							<div class="col-md-10 col-sm-10 col-xs-10 description"><span class="colon">:</span> <p th:text="${#calendars.format(profile.joinDate,'MMM yyyy')}" th:remove="tag"></p></div>
						</div>
					</div>
				</div>
			</div>
		</section>
         <!--<section id="topBanner">-->
             <!--<div class="container">-->
                 <!--<div class="flexslider box">-->
                     <!--<ul class="slides">-->
                         <!--<li  th:each="profile : ${profile}"><a href="#"><img th:attr="src=@{/img/department/max/} + ${profile.department.image1}" /></a></li>-->
                         <!--<li><a href="#"><img th:attr="src=@{/img/department/max/} + ${profile.department.image2}" /></a></li>-->
                         <!--<li><a href="#"><img th:attr="src=@{/img/department/max/} + ${profile.department.image3}" /></a></li>-->
                         <!--<li><a href="#"><img th:attr="src=@{/img/department/max/} + ${profile.department.image4}" /></a></li>-->
                         <!--<li><a href="#"><img th:attr="src=@{/img/department/max/} + ${profile.department.image5}" /></a></li>-->
                     <!--</ul>-->
                 <!--</div>-->
             <!--</div>-->
         <!--</section>-->
   	</div>
   </section>
    <!--content-->

    <!--common-->
    <div th:replace="fragment/common :: common"> </div>
    <!--common-->

    <!--footer-->
    <div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
    <!--footer-->
    </body>
</html>
