<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - আমরা ক'জন</title>
    <link rel="stylesheet" href="/css/team.css"/>
    <script>
        $(document).ready(function() {
            $('#hImg').hide();
            $('#home').removeClass("activeMenu");
            $('#department').removeClass("activeMenu");
            $('#contact').removeClass("activeMenu");
            $('#about').removeClass("activeMenu");
            $('#login').removeClass("activeMenu");
            $('#team').addClass("activeMenu");
        });
    </script>
</head>
<body>

<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->

    <section id="content" layout:fragment="content">
        <section id="topBanner">
            <div class="container">
                <div class="flexslider box">
                <ul class="slides">
                    <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==10}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                    <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==20}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                    <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==21}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                    <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==22}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                    <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==23}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                </ul>
            </div>
           </div>
        </section>

      <div class="pageWraper">
      <section id="meet">
            <div class="container">
                <div class="wraper" th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==8}">
                    <h1 th:text="${siteInfoLists.titleBn}"></h1>
                    <p th:text="${siteInfoLists.contentBn}"></p>
                </div>
            </div>
        </section>
        <section id="downArrow"><div class="arrowDown"></div></section>
        <section id="profileImg">
            <div class="container">
                <div class="wraper">
                    <ul class="list-inline list-unstyled"  >
                        <li th:each="profilesLists : ${profilesList}"><a href="#" th:href="@{/client/profile/} + ${profilesLists.id}"><div class="roundImg"><img th:attr="src=@{/img/profile/} + ${profilesLists.image}" /></div><div class="profileImgHover"><p th:text="${profilesLists.nickName}"></p></div></a></li>
                    </ul>
                </div>
            </div>
        </section>
        </div>
    </section>

<!--/content-->

<!--common-->
<div th:replace="fragment/common :: common"> </div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>
</html>
