<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<common id="common">

<section id="contact">
    <div class="container">
        <div class="contactWraper" th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==6}">
            <div class="row text-center"><h1  th:text="${siteInfoLists.titleBn}"></h1></div>
            <div class="row text-center"><p th:text="${siteInfoLists.contentBn}"></p></div>
            <form  th:action="@{/client/contact/add}" method="POST" th:object="${contacts}" name="form"  id="form" >

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="inputBorder"><input type="text" name="name" id="name" placeholder="নাম লিখুন" class="inputText" /></div>
                        <!--<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger margintop10"></div>&ndash;&gt;-->
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="inputBorder"><input type="text" name="email" id="email" placeholder="ইমেইল লিখুন" class="inputText" /></div>
                        <!--<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger margintop10"></div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 messInputMargin">
                        <div class="inputBorder"><input type="text" name="message" id="message" placeholder="বার্তা লিখুন" class="inputText" /></div>
                        <!--<div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="alert alert-danger margintop10"></div>-->
                    </div>
                </div>
                <!--<div th:if="${message != null}" th:remove="tag">-->
                    <!--<div class="alert alert-danger" th:text="${message}"></div>-->
                    <!--<p th:attr="${message == null}"></p>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-md-12"><div class="submit">
                    <input type="submit" content="send massage" id="contactus" class="contactus" value="প্রেরণ করুন"/></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</common>
</html>
