<html xmlns:th="http://www.thymeleaf.org">

<footer>
    <div class="container">
        <div class="container">
            <div class="row text-center" id="footerMail" th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==5}" >
                <p th:text="${siteInfoLists.content}"></p>
            </div>
            <div class="row text-center" id="footerCell" th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==7}"><i class="fa fa-phone" th:text="${siteInfoLists.content}"></i></div>
            <div class="row text-center" id="footerSocial">
                <ul class="list-inline list-unstyled">
                    <li><a target="_blank" href="https://www.facebook.com/rokomari"><div class="socialIcon"><i class="fa fa-facebook"></i></div></a></li>
                    <li><a target="_blank" href="https://twitter.com/RokomariDotCom"><div class="socialIcon"><i class="fa fa-twitter"></i></div></a></li>
                    <!--<li><a href="#"><div class="socialIcon"><i class="fa fa-google-plus"></i></div></a></li>-->
                    <!--<li><a href="#"><div class="socialIcon"><i class="fa fa-rss"></i></div></a></li>-->
                    <!--<li><a href="#"><div class="socialIcon"><i class="fa fa-dribbble"></i></div></a></li>-->
                    <!--<li><a href="#"><div class="socialIcon"><i class="fa fa-linkedin"></i></div></a></li>-->
                    <!--<li><a href="#"><div class="socialIcon"><i class="fa fa-skype"></i></div></a></li>-->
                </ul>
            </div>
            <div class="row text-center" id="footerCopyRight">&copy; Copyright 2015 <span class="greenText">Onnorokomwebservices.</span> All Rights Reserved.</div>
        </div>
    </div>
    <a href="#0" class="cd-top">Top</a>

    <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/backToTop.js"></script>
    <script src="/js/main.js"></script>
    <script >

        // contact us validation

        $( document ).ready(function() {
            $('.contactus').click(function(){
                var name =$('#name');
                var email =$('#email');
                var message =$('#message');

                if(name.val().trim() == ''){
                    alert("Please enter your name");
                    $('#name').focus();
                    return false;
                }

                if(email.val().trim() == '')
                {
                    alert('Please Enter your email');
                    return false;
                }

                else
                {
                    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    var isValid = regex.test(email.val());
                    if(!isValid){
                        alert("Please enter a valid email!")
                        return false;
                    }
                }

                if(message.val().trim() == ''){
                    alert("Please enter your message");
                    $('#message').focus();
                    return false;
                }

                return true;

            } )
        });


        //        user admin form validation
        $(document).ready(function(){
            $('.chkbox').change(function() {
                var val = "";
                var role=$('.chkbox');
                for(var i=0; role[i]; i++){
                    if(role[i].checked){
                        val += role[i].value + ",";
                    }
                }
                $('.hdnroles').val(val);
            });

        });

//        login validation

//        $( document ).ready(function() {
//            $('.login').click(function(){
//                var email =$('.loginemail');
//                var password =$('#password');
//                if(email.val() == ""){
//                    alert("Please enter your email");
//                    $('.loginemail').focus();
//                    return false;
//                }
//
//                if ($('#password').val().length == 0) {
//                    alert('Please Type Password');
//                    return false;
//                }
//
//                return true;
//
//            } )
//        });

        $(document).ready(function() {
            $(".saveButton").click(function () {
                if ($('#password').val().length == 0) {
                    alert('Please Type Password');
                    return false;
                }
                return true;
            })
        })


    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64875110-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#menu').slicknav();
        });
    </script>
    <!-- FlexSlider -->
    <script src="/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                controlsContainer: $(".custom-controls-container"),
                customDirectionNav: $(".custom-navigation a"),
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>

</footer>
</html>
