<html xmlns:th="http://www.thymeleaf.org">
<header>
    <div class="container">
        <div class="wraper">
            <div id="topMenu">
                <div class="row">
                    <div class="col-md-2 col-sm-2 logo"><a th:href="@{/}"><img src="/img/logo.png" alt="" /></a></div>
                    <div class="col-md-10 col-sm-10">
                        <ul class="list-unstyled list-inline text-right" id="menu">
                            <li><a th:href="@{/}" id="home">হোম</a></li>
                            <li><a class="team" th:href="@{/client/department/list}" id="department">বিভাগ সমূহ</a></li>
                            <li><a class="team" th:href="@{/client/profile/list}" id="team">আমরা ক'জন</a></li>
                            <li><a href="#contact" id="">যোগাযোগ</a></li>
                            <li><a href="/#story" id="about">আমরা যেমন</a></li>
                            <div th:if="${#httpServletRequest.remoteUser != null}" th:remove="tag">
                                <li><a th:href="@{/admin}" id="logout"><span class="redText">অ্যাডমিন কনসোল</span></a></li>
                            </div>
                            <div th:if="${#httpServletRequest.remoteUser == null}" th:remove="tag">
                                <li><a th:href="@{/login}" id="login"><span class="redText">লগইন</span></a></li>
                            </div>
                            <div th:if="${#httpServletRequest.remoteUser != null}" th:remove="tag">
                                <li><a th:href="@{/logout}" id="logout"><span class="redText">লগআউট</span></a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="#" th:action="@{/logout}" method="post">
        <!--<input type="submit" id="it-logout" class="display-none" />-->
    </form>
    <script>
        $(document).ready(function(){
            $('#ar-logout').click(function(){
                $('#it-logout').click();
                return false;
            })
        })
    </script>
</header>
</html>
