<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - অ্যাডমিন - বিভাগ তালিকা</title>
    <link rel="stylesheet" href="/css/team.css"/>
    <link rel="stylesheet" href="/css/department.css"/>
    <link rel="stylesheet" href="/css/edit-profile.css"/>
    <link rel="stylesheet" href="/css/allprofile.css"/>

    <!-- pagination -->
    <!-- css -->
    <link rel="stylesheet" href="/css/pagination/jquery-ui.css"/>
    <link rel="stylesheet" href="/css/pagination/dataTables.jqueryui.css"/>
    <!-- /css -->
    <!-- js -->
    <script src="/js/pagination/jquery.dataTables.min.js"></script>
    <script src="/js/pagination/dataTables.jqueryui.js"></script>
    <script>
        $(document).ready(function() {
            $('#departmentList').dataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ Department(s)",
                    "zeroRecords": "No such department(s) found - sorry",
                    "info": "Showing page _PAGE_ of _PAGES_ ( from _MAX_ department(s))",
                    "infoEmpty": "No department(s) found",
                    "infoFiltered": "(searched from _MAX_ department(s))"
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
            });
        });

        function deleteConfirm(){
            alert('You can not delete any Department!');
            return false;
        }
    </script>
    <!-- /js -->
    <!-- /pagination -->

    <script>
        $(document).ready(function() {
            $('#hImg').hide();
            $('#common').hide();
        });
    </script>
</head>
<body>
<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->

<!--content-->
<section id="content" layout:fragment="content">
    <div class="pageWraper">
        <section id="pageBody">
            <div class="container">
                <div class=" bodyWraper">
                    <div class="row pageTitle">
                        All Department Details
                    </div>
                    <section id="downArrow">
                        <div class="arrowDown"></div>
                    </section>
                    <div class="profileWraper depttbl">
                        <table id="departmentList" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="department : ${departmentList}">
                                    <td th:text="${department.name}"></td>
                                    <td th:text="${department.description}"></td>
                                    <td th:text="${#calendars.format(department.created,'dd-MM-yyyy')}"></td>
                                    <td class="action">
                                        <a th:href="@{/admin/department/edit/} + ${department.id}" title="Edit Department"><i class="fa fa-pencil-square-o"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!--/content-->

<!--common-->
<div th:replace="fragment/common :: common"> </div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>
</html>
