body{background-color: #000;}
.responsiveImg{	 
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */    
	width: 1349px;
	height: 900px;
}
.responsive{
	position: absolute;
	width: 1340px;
	height: 890px;
	top: 50%;
	left: 50%;
	margin-top: -445px ;
	margin-left: -670px;
	overflow: hidden;
}
@media only screen and (min-width: 900px) and (max-width: 1340px) {
	.responsive{
		width: 900px;
		height: 600px;
		margin-top: -300px ;
		margin-left: -450px;
	}
	.responsiveImg{
		width: 900px;
		height: 600px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
	.responsive{
		width: 768px;
		height: 512px;
		margin-top: -256px ;
		margin-left: -384px;
	}
	.responsiveImg{
		width: 768px;
		height: 512px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.responsive{
		width: 480px;
		height: 320px;
		margin-top: -160px ;
		margin-left: -240px;
	}
	.responsiveImg{
		width: 480px;
		height: 320px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.responsive{
		width: 320px;
		height: 214px;
		margin-top: -107px ;
		margin-left: -160px;
	}
	.responsiveImg{
		width: 320px;
		height: 214px;
	}
}
@media only screen and (max-width: 320px) {
	.responsive{
		width: 320px;
		height: 214px;
		margin-top: -107px ;
		margin-left: -160px;
	}
	.responsiveImg{
		width: 320px;
		height: 214px;
	}
}