<!DOCTYPE html>

<!--This is Shakil's file-->
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - অ্যাডমিন - সদস্য তানিকা</title>
    <link rel="stylesheet" href="/css/team.css"/>
    <link rel="stylesheet" href="/css/department.css"/>
    <link rel="stylesheet" href="/css/edit-profile.css"/>
    <link rel="stylesheet" href="/css/allprofile.css"/>
    <link rel="stylesheet" href="/css/pagination/jquery-ui.css"/>
    <link rel="stylesheet" href="/css/pagination/dataTables.jqueryui.css"/>
    <!-- /css -->
    <!-- js -->
    <script src="/js/pagination/jquery.dataTables.min.js"></script>
    <script src="/js/pagination/dataTables.jqueryui.js"></script>
    <!-- /js -->
    <script>
        $(document).ready(function () {
            $('#profiles').dataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ Profile(s)",
                    "zeroRecords": "No profile(s) found",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No profile(s) found",
                    "infoFiltered": "(searched from _MAX_ profile(s))"
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
//                "processing": true,
//                "bServerSide": true,
//                "sAjaxSource":  "/appName/yourSpringRequestMappingValue",
            });
        });

        function deleteConfirm(){
            var ifDelete=confirm('Do you want to remove this profile?');
            if(ifDelete==true)
                return true;
            else
                return false;
        }
    </script>


    <script>
        $(document).ready(function () {
            $('#hImg').hide();
            $('#common').hide();
        });
    </script>
</head>
<body>


<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->

<!--content-->
<section id="content" layout:fragment="content">
<div class="pageWraper">
    <section id="pageBody">
        <div class="container">
            <div class=" bodyWraper">
                <div class="row pageTitle">
                    All Profile Details
                </div>
                <section id="downArrow">
                    <div class="arrowDown"></div>
                </section>
                <div class="profileWraper depttbl">
                    <table id="profiles" class="display" cellspacing="0" width="100%">
                        <thead>
                        <th>Full Name</th>
                        <th>Nick Name</th>
                        <th>Sex</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Department</th>
                        <th>Join_Date</th>
                        <!--<th>Job_Status</th>-->
                        <th width="76px">Action</th>
                        </thead>
                        <tbody>
                        <tr th:each="profile : ${profilesList}">
                            <td><p th:text="${profile.fullName}"></p></td>
                            <td><p th:text="${profile.nickName}"></p></td>
                            <td><p th:text="${profile.sex}"></p></td>
                            <td><p th:text="${profile.phone}"></p></td>
                            <td><p th:text="${profile.email}"></p></td>
                            <td><p th:text="${profile.address}"></p></td>
                            <td><p th:text="${profile.department.name}"></p></td>
                            <td><p th:text="${profile.joinDate}"></p></td>
                            <!--<td><p th:text="${profile.status}"></p></td>-->
                            <td class="action">
                                <a th:href="@{/admin/role/} + ${profile.id}" title="Add Role"><i class="fa fa-plus-square-o"></i></a> &nbsp;&nbsp;
                                <a th:href="@{/admin/profile/edit/} + ${profile.id}" title="Edit Profile"><i class="fa fa-pencil-square-o"></i></a> &nbsp;&nbsp;
                                <a th:href="@{/admin/profile/delete/} + ${profile.id}" title="Delete Profile" onclick="return deleteConfirm()"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
</section>
<!--/content-->

<!--common-->
<div th:replace="fragment/common :: common"></div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>
</html>
