<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - অ্যাডমিন -  গ্রাহক ইমেইল সমূহ</title>
    <link rel="stylesheet" href="/css/team.css"/>
    <link rel="stylesheet" href="/css/allprofile.css"/>
    <link rel="stylesheet" href="/css/team.css"/>
    <link rel="stylesheet" href="/css/department.css"/>
    <link rel="stylesheet" href="/css/edit-profile.css"/>
    <link rel="stylesheet" href="/css/allprofile.css"/>
    <!-- pagination -->
    <!-- css -->
    <link rel="stylesheet" href="/css/pagination/jquery-ui.css"/>
    <link rel="stylesheet" href="/css/pagination/dataTables.jqueryui.css"/>
    <!-- /css -->
    <!-- js -->
    <script src="/js/pagination/jquery.dataTables.min.js"></script>
    <script src="/js/pagination/dataTables.jqueryui.js"></script>
    <script>
        $(document).ready(function() {
            $('#contactus').dataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ Contact(s)",
                    "zeroRecords": "No such Contact(s) found - sorry",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No Contact(s) found",
                    "infoFiltered": "(searched from _MAX_ Contact(s))"
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
            });
        });

    </script>
    <script>
        $(document).ready(function() {
            $('#hImg').hide();
            $('#common').hide();
        });
    </script>
</head>
<body>
<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->

<!--contain-->
<section id="content" layout:fragment="content">
    <div class="pageWraper">
        <section id="pageBody">
            <div class="container">
                <div class=" bodyWraper">
                    <div class="row pageTitle">
                        All Contact Us Message
                    </div>
                    <section id="downArrow">
                        <div class="arrowDown"></div>
                    </section>
                    <div class="profileWraper depttbl">
                        <table id="contactus" class="display" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Message</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="contactUsList : ${contactUsList}">
                                <td th:text="${contactUsList.name}"></td>
                                <td th:text="${contactUsList.email}"></td>
                                <td th:text="${contactUsList.message}"></td>
                                <td th:text="${#calendars.format(contactUsList.created,'dd MMM yyyy')}"></td>
                                <td th:if="${contactUsList.status =='0'}" >Not Reply</td>
                                <td th:if="${contactUsList.status =='1'}" >Reply</td>

                                <td class="action">
                                    <a href="#" title="Reply"><i class="fa fa-share-square-o"></i></a>&nbsp;
                                </td>
                            </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!--/content-->

<!--common-->
<div th:replace="fragment/common :: common"> </div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>
</html>
