<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - অ্যাডমিন - সাইটের তথ্য তৈরি / পরিবর্তন</title>
    <link rel="stylesheet" href="/css/edit-profile.css"/>
    <script>
        function check() {
            var imgpath = document.getElementById('photo');
            if (!imgpath.value == "") {
                var img = imgpath.files[0].size;
                var imgsize = img / 1024;
                if (imgsize > 950) {
                    alert('Image size can not be more than 1 MB!');
                    imgpath.value='';
                    return false;
                }
                return true;
            }
        }
        function getImgSize(id){
            var pic = document.getElementById(id);
            var h = pic.offsetHeight;
            var w = pic.offsetWidth;
            if (h>1400 || w>650) {
                alert ('Maximum Image size should be 1400*650!');
                pic.value='';
                return false;
            }
            check();
            return true;
        }

        $(document).ready(function() {
            $('#hImg').hide();
            $('#common').hide();
        });
    </script>
</head>

<body>
<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->

 <!--contain-->
<section id="content" layout:fragment="content">
<div class="pageWraper">
    <section id="pageBody">
        <div class="container">
            <div class=" bodyWraper">
                <div class="row pageTitle" >
                    <p>Edit SiteInfo</p>
                </div>
                <section id="downArrow">
                    <div class="arrowDown"></div>
                </section>
                <div class="profileWraper">
                    <form th:action="@{/admin/siteinfo/edit}" method="POST" th:object="${editsiteinfo}" enctype="multipart/form-data">
                        <!--<form th:action="@{/admin/siteinfoedit}" method="POST" th:object="${editsiteinfo}" enctype="multipart/form-data">-->
                        <div class="row profileItem">
                            <input type="hidden" name="id" id="id"  th:value="${editsiteinfo.id}" class="inputField1" />
                            <div class="showPhoto" th:switch="${editsiteinfo.id != 0}" th:case="${true}" >
                                <input type="hidden" name="created" id="created"  th:field="*{created}" class="inputField1" />
                            </div>
                            <div class="inputLevel">Title_En</div>
                            <div class="inputField"><input type="text" name="title" id="title"  th:value="${editsiteinfo.title}" class="inputField1" /></div>
                            <div class="inputLevel">Title_Bn</div>
                            <div class="inputField"><input type="text" name="titleBn" id="titleBn"  th:value="${editsiteinfo.titleBn}" class="inputField1" /></div>
                            <div th:if="${editsiteinfo.id ==1 || editsiteinfo.id ==2 || editsiteinfo.id ==3 || editsiteinfo.id ==4 || editsiteinfo.id ==5 || editsiteinfo.id ==6 || editsiteinfo.id ==7 || editsiteinfo.id ==8  || editsiteinfo.id ==24 }">
                                <div class="inputLevel">Content_En</div>
                                <div class="inputFieldBio"><textarea name="content" id="content" cols="39" rows="4" class="inputBio" th:text="${editsiteinfo.content}"></textarea></div>
                                <div class="inputLevel">Content_Bn</div>
                                <div class="inputFieldBio"><textarea name="contentBn" id="contentBn" cols="39" rows="4" class="inputBio" th:text="${editsiteinfo.contentBn}"></textarea></div>
                                <p hidden="hidden"> <input type="file" name="contentImg" /></p>
                             </div>
                            <div th:if="${editsiteinfo.id ==9 || editsiteinfo.id ==10 || editsiteinfo.id ==11 || editsiteinfo.id ==12 || editsiteinfo.id ==13 || editsiteinfo.id ==14 || editsiteinfo.id ==15 || editsiteinfo.id ==16 || editsiteinfo.id ==17 || editsiteinfo.id ==18 || editsiteinfo.id ==19 || editsiteinfo.id ==20 || editsiteinfo.id ==21 || editsiteinfo.id ==22 || editsiteinfo.id ==23 }">
                            <div class="inputLevel" >Cover Photo</div>
                            <div class="showPhoto" th:switch="${editsiteinfo.content != null}" th:case="${true}" ><img th:attr="src=@{/img/siteinfo/} + ${editsiteinfo.content}" height="120px" width="150px"/></div>
                            <div class="inputPhoto"><input type="file" accept="image/jpeg" name="contentImg" id="contentImg" onchange="getImgSize('contentImg')"/></div>
                            <div class="inputLevel"></div>
                            </div>
                            <div class="inputField">
                                <div class="inputLevel"></div>
                                <input type="submit" name ="Submit" id="Submit" class="saveButton" value="save" />
                                <a class="cancelButton" href="/admin/siteinfo/list" >cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
</section>
<!--/content-->

<!--common-->
<div th:replace="fragment/common :: common"> </div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>
</html>
