<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - অ্যাডমিন - সাইটের তথ্য সমূহ</title>
    <link rel="stylesheet" href="/css/team.css"/>
    <link rel="stylesheet" href="/css/allprofile.css"/>
    <link rel="stylesheet" href="/css/team.css"/>
    <link rel="stylesheet" href="/css/department.css"/>
    <link rel="stylesheet" href="/css/edit-profile.css"/>
    <link rel="stylesheet" href="/css/allprofile.css"/>

    <!-- pagination -->
    <!-- css -->
    <link rel="stylesheet" href="/css/pagination/jquery-ui.css"/>
    <link rel="stylesheet" href="/css/pagination/dataTables.jqueryui.css"/>
    <!-- /css -->
    <!-- js -->
    <script src="/js/pagination/jquery.dataTables.min.js"></script>
    <script src="/js/pagination/dataTables.jqueryui.js"></script>
    <script>
        $(document).ready(function() {
            $('#siteinfo').dataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ SiteInfo(s)",
                    "zeroRecords": "No such SiteInfo(s) found - sorry",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No SiteInfo(s) found",
                    "infoFiltered": "(searched from _MAX_ SiteInfo(s))"
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
            });
        });

    </script>
    <script>
        $(document).ready(function() {
            $('#hImg').hide();
            $('#common').hide();
        });
    </script>
</head>
<body>
<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->

<!--contain-->
<section id="content" layout:fragment="content">
    <div class="pageWraper">
        <section id="pageBody">
            <div class="container">
                <div class=" bodyWraper">
                    <div class="row pageTitle">
                        All SiteInformation Details
                    </div>
                    <section id="downArrow">
                        <div class="arrowDown"></div>
                    </section>
                    <div class="profileWraper depttbl">
                    <table id="siteinfo" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>TitleBn</th>
                            <th>Content</th>
                            <th>ContentBn</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  th:each="siteInfoList : ${siteInfoList}">
                            <td th:text="${siteInfoList.title}"></td>
                            <td th:text="${siteInfoList.titleBn}"></td>
                            <td th:text="${siteInfoList.content}"></td>
                            <td th:text="${siteInfoList.contentBn}"></td>
                            <td class="action">
                                <a th:href="@{/admin/siteinfo/edit/} + ${siteInfoList.id}" title="Edit SiteInfo"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
                            </td>
                        </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
            </div>
        </div>
    </div>
</section>
</div>
</section>
<!--/content-->

<!--common-->
<div th:replace="fragment/common :: common"> </div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>
</html>
