<!doctype html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - অ্যাডমিন - রোল তৈরি / পরিবর্তন</title>
    <link rel="stylesheet" href="/css/edit-profile.css" />
    <script>
           $(document).ready(function() {
            $('#hImg').hide();
            $('#common').hide();
        });

//        user admin form validation
           $(document).ready(function(){
               $('.chkbox').change(function() {
                   var val = "";
                   var role=$('.chkbox');
                   for(var i=0; role[i]; i++){
                       if(role[i].checked){
                           val += role[i].value + ",";
                       }
                   }
                   $('.hdnroles').val(val);
               });

           });
    </script>

</head>
<body>
<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--/header-->
   <section id="content" layout:fragment="content">
       <div class="pageWraper">
           <section id="pageBody">
               <div class="container">
                   <div class=" bodyWraper">
                       <div class="row pageTitle">
                           Add/Edit Role
                       </div>
                       <section id="downArrow">
                           <div class="arrowDown"></div>
                       </section>
                        <div class="profileWraper" >
                            <form th:action="@{/admin/role/edit}" method="POST" th:object="${user}"  class="form" >
                                <div class="row profileItem" >
                                    <input type="hidden" name="hdnroles" id="hdnroles" class="hdnroles" />
                                    <input type="hidden" th:field="*{id}" name="id" id="id" class="inputField1"/>
                                        <input type="hidden" name="created" id="created"  th:value="${user.created}" class="inputField1" />
                                    <div class="inputLevel">Email Id</div>
                                    <div class="inputField"><input type="text"  th:field="*{email}"  name="email" id="email" class="inputField1"/></div>
                                    <div class="inputLevel">Password</div>
                                    <div class="inputField"><input type="password" th:value="${user.password}"  name="password" id="password" class="inputField1"/></div>
                                    <div class="inputLevel">Status</div>
                                    <div class="inputField">
                                        <select name="status" id="status" class="inputGender" th:field="*{status}">
                                            <option value="PENDING">PENDING</option>
                                            <option value="ACTIVE">ACTIVE</option>
                                            <option value="INACTIVE">INACTIVE</option>
                                        </select>
                                    </div>
                                    <div class="inputLevel">Role</div>
                                    <div class="inputField" >
                                        <p th:each="roleList : ${roleList}" th:remove="tag">
                                            <p th:each="userRole : ${userRoleList}" th:remove="tag" >
                                                <p th:remove="tag" th:if="${roleList.id == userRole.id}">
                                                    <input class="chkbox"  th:type="checkbox"  th:value="${roleList.id}" th:text="${roleList.name}" id="chkbox"  th:attr="checked='checked'"/>
                                                </p>
                                                <p th:remove="tag" th:if="${roleList.id != userRole.id}" >
                                                    <input class="chkbox"  th:type="checkbox"  th:value="${roleList.id}" th:text="${roleList.name}" id="chkbox" />
                                                </p>
                                                <!--<p th:remove="tag" th:if="${roleList.id ==null}" >-->
                                                    <!--<input class="chkbox"  th:type="checkbox"  th:value="${roleList.id}" th:text="${roleList.name}" id="chkbox" />-->
                                                <!--</p>-->
                                            </p>
                                        </p>
                                    </div>
                                    <!--<div class="inputField" >-->
                                        <!--<input th:each="roleList : ${roleList}" class="chkbox"  th:type="checkbox"  th:value="${roleList.id}" th:text="${roleList.name}" id="chkbox" />-->
                                    <!--</div>-->
                                    <div class="inputLevel"></div>
                                    <div class="inputField">
                                        <div class="inputLevel"></div>
                                        <input type="submit" name ="Submit" id="Submit" class="saveButton" value="save" />
                                        <a class="cancelButton" href="/admin/profile/list" >cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
           </section>
        </div>
        </section>
        <!--/content-->

    <!--footer-->
    <div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
    <!--footer-->
</body>
</html>
