#topBanner{
    background-color: #49c9af;
}
#profileImg>div>div{margin-bottom:30px;margin-top:0px;}
.departmentTitle{color:rgb(73, 201, 175);margin-bottom:25px;font-family: roboto;font-size: 40px;font-weight: 200;}
.departmentImg{width:100%;border: 3px solid rgb(73, 201, 175);}
.departmentDetail{
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    color: #FFF;
    margin-top: 80px;
    margin-bottom: 30px;
}
.departmentA:hover{text-decoration: none}
.departmentA:hover h1{text-decoration: none;color: #FFF; transition: all 0.4s;}
.depttbl{
    margin: 50px -15px 0px;
}
