#pageBody{
	background-color:#334960;
	padding: 140px 0 40px 0;
}
.bodyWraper{
	background-color:#f6f6f6;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	padding: 50px 100px;
}
.pageTitle{
	font-family: roboto;
	font-size: 35px;
	text-align: center;
	color: #fe5c58;
	font-weight: 300;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	padding-top: 18px;
}
.arrowDown {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F6F6F6;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.profileItem{padding: 37px 0px 30px 0px}
.inputLevel{
	float: left;
	width: 236px;
	height: 50px;
	padding-left: 120px;
	padding-top: 16px;
	color: #777777;
    clear: left;
}
.inputField,.inputFieldBio{
	float: left;
	width: 734px;
	height: 50px;
	padding-top: 8px;
    clear: right;
}
.inputField1,.inputField2,.inputYear,.inputMonth,.inputDay,.inputGender,.inputBio,.inputGender{
	height: 34px;
	width: 360px;
	border: 1px solid #ddd;
	padding-left: 10px;
}
.inputField2{width: 148px;}
.inputYear{width: 100px;}
.inputMonth{width: 70px;}
.inputDay{width: 80px;}
.inputBio{height: 95px; width: 360px}
.inputFieldBio{height: 125px}
.saveButton{
	text-transform: uppercase;
	height: 33px;
	width: 82px;
	background-color: #49c9af;
	border: none;
	margin-right: 13px;
	color: #FFF;
}
.cancelButton{
	text-transform: uppercase;
    padding: 7px 15px;
	height: 33px;
	width: 99px;
	background-color: #fe5c58;
	border: none;
	color: #FFF;
}
.loginButton{
	text-transform: uppercase;
	height: 33px;
	width: 82px;
	background-color: #49c9af;
	border: none;
	margin-left: 13px;
	color: #FFF;
	float:right;
}
.loginButton:hover{background-color: #59f9af;}
.loginCancelButton{
	text-transform: uppercase;
    padding: 7px 15px;
	height: 33px;
	width: 99px;
	background-color: #fe5c58;
	border: none;
	color: #FFF;
	float:right;
}
.loginCancelButton:hover{color:#FFF;background-color: #9B2421;text-decoration:none}
.cancelButton:hover{
    text-decoration: none !important;
    color: #FFF !important;
}
.cancelButton:hover{text-decoration: none;color: #33414A}
.cancelButton:visited{text-decoration: none;}
.inputPhoto{float: left;margin-top: 18px;}
.showPhoto{margin: 0;width: 200px;display:block;float: left;padding-bottom: 10px;}
.showPhoto > input[type=file]{imargin: 0;}
.marginTop{margin-top: 50px;}
.loginInputField{;height:30px;margin:25px auto;width:360px;}
/* ==========================================================================
							Responsive Design.
   ========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.inputLevel {
		padding-left: 60px;
		width: 180px;
	}
	.inputField, .inputFieldBio{width: 560px;}
    .inputGender {width: 360px;}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.inputLevel {
		width: 153px;
		padding-left: 32px;
	}
	.inputField, .inputFieldBio {width: 365px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.bodyWraper {padding: 50px 50px;	}
	.inputLevel {
		width: 115px;
		padding-left: 0px;
	}
	.inputField1 ,.inputBio{width: 257px;}
	.inputField, .inputFieldBio, .inputGender {width: 260px;}
	.profileWraper{width: 345px; margin: 0 auto;}
	.loginInputField {width: 255px; }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.bodyWraper {padding: 30px;}
	.pageTitle {font-size: 25px;}
	.profileWraper{width: 230px; margin: 0 auto;}
	.inputField, .inputFieldBio {width: 260px;}
	.inputFieldBio {height: 110px;}
	.inputField1, .inputField2,.inputGender,.inputBio {width: 260px;}
	.inputLevel {
		width: 260px;
		height: 35px;
		padding-left: 0px;
		text-align: center;
	}
	.loginInputField {width: 260px; }
}
@media only screen and (max-width: 320px) {
	.bodyWraper {padding: 30px;}
	.pageTitle {font-size: 25px;}
	.profileWraper{width: 100%}
	.inputField, .inputFieldBio {width:100%}
	.inputFieldBio {height: 110px;}
	.inputField1, .inputField2,.inputGender,.inputBio {width: 100%;}
	.inputLevel {
		width: 100%;
		height: 35px;
		padding-left: 0px;
		text-align: center;
	}
	.inputYear {width: 45%;}
	.inputMonth {width: 25%;}
	.inputDay {width: 25%;}
	.cancelButton {width: 45%;}
	.saveButton {width: 40%;}
}


/* ==========================================================================
							Responsive Design.
   ========================================================================== */
