#topBanner{background-color:#fe5c58;}
.boxShadow{box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.41);}
/* ======= mission  ======== */
#mission{
	background-color: #fe5c58;
	/*min-height: 572px;*/
	position: relative;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(27, 36, 45, 0.87);
	box-shadow: 0px 4px 5px 0px rgba(27, 36, 45, 0.87);
}
.overlay {
    background:transparent;
    position:relative;
    width:100%;
    height:450px;
    top:450px;
    margin-top:-450px;
}
#mission>.container>.wraper>h1{
	font-family: roboto;
	font-size: 56px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin-top: 60px;
	/*margin-bottom: 40px;*/
}
#mission>.container>.wraper>p{
	font-size: 18px;
	line-height: 32px;
	text-align: justify;
	margin-top: 0px;
	color: #fff;
	margin-bottom: 30px;
    padding-bottom: 35px;
}

/* ======= end of mission  ======== */
/* ======= story  ======== */
#story{
	background-color: #334960;
}
.storyWraper{
	max-width: 1170px;
	margin: 110px auto 0px;
	background-color: #FFF;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-box-shadow: 0px -1px 6px 3px rgba(42, 60, 79, 0.76);
	box-shadow: 0px -1px 6px 3px rgba(42, 60, 79, 0.76);
	padding: 0px 100px 45px 100px;
	position: relative;
}
.storyWraper h1{
	font-family: roboto;
	font-size: 56px;
	font-weight: 300;
	color:#fe5c58;
	padding-top: 90px;
	margin-bottom: 40px;
	text-align: center;
}
.storyWraper p{
	font-size: 18px;
	line-height: 25px;
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: justify;
}
.keepReading{
	background-color: #49C9AF;
	height: 38px;
	width: 186px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-left: -93px;
	z-index: 9;
	-webkit-box-shadow: 0px -3px 4px -1px rgba(0, 0, 0, 0.41);
	box-shadow: 0px -3px 4px -1px rgba(0, 0, 0, 0.41);
}
.keepReading>a:hover{text-decoration: none;}
.hoverDiv{height:100%;width:100%;}
.hoverDiv1{
	color: #fff;
	height: 100%;
	width:100%;
	padding-top: 18px;
}
.hoverDiv2{
	text-align: center;
	height: 100%;
	width: 186px;
	margin: 0 auto;
}
.hoverDiv>.fa{color:#fff;font-size:30px}
/* ======= end of story  ======== */
/* ======= team  ======== */
#team{
    background-color: #fff;
    padding: 50px 0;
}
#team>.container>.wraper>h1{
	font-family: roboto;
	font-size: 56px;
	font-weight: 100;
	margin-top: 0px;
	margin-bottom: 40px;
	color: #fd7773;
	text-align: center;
}
#team>.container>.wraper>p{
	font-size: 18px;
	line-height: 32px;
	color: #2f2f2f;
	text-align: justify;
	margin-bottom: 0px;
}
/* ======= end of team  ======== */
/* ======= slider  ======== */
.slider{position: relative;background-color:#e2e7e7;overflow:hidden;}
.slider:hover .custom-navigation>a>.prev{left:0px;transition:left 0.5s;}
.slider:hover .custom-navigation>a>.next{right:0px;transition:right 0.5s;}
.prev{
	position: absolute;
	background-color: rgb(24, 180, 148);
	top: 50%;
	height: 68px;
	margin-top: -34px;
	width: 62px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.75);
	left: -70px;
	transition:left 0.5s;
}
.next{
	position: absolute;
	background-color: rgb(24, 180, 148);
	top: 50%;
	height: 68px;
	margin-top: -34px;
	width: 62px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.75);
	right: -70px;
	transition:right 0.5s;
}
.next>.fa,.prev>.fa{
	color: #fff;
	font-size: 45px;
	padding: 9px 22px;
}

/* ======= end of slider  ======== */


/* ==========================================================================
							Responsive Design.
   ========================================================================== */
@media only screen and (max-width: 768px){
	.prev,.next{
		top: 50%;
		height: 50px;
		margin-top: -25px;
		width: 44px;
	}
	.next>.fa,.prev>.fa{
		font-size: 35px;
		padding: 6px 15px;
	}
	.storyWraper {
		padding: 0px 70px 45px;
	}
}
@media only screen and (max-width: 360px) {
	.storyWraper {
		max-width: 940px;
		margin: 65px auto 0px;
		background-color: #FFF;
		-webkit-border-top-left-radius: 7px;
		-webkit-border-top-right-radius: 7px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		-webkit-box-shadow: 0px -1px 6px 3px rgba(42, 60, 79, 0.76);
		box-shadow: 0px -1px 6px 3px rgba(42, 60, 79, 0.76);
		padding: 0px 35px 45px;
		position: relative;
	}
	.storyWraper h1 {
		font-family: roboto;
		font-size: 25px;
		font-weight: 300;
		color: #FE5C58;
		padding-top: 50px;
		margin-bottom: 30px;
		text-align: center;
	}
	.storyWraper p {
		font-size: 15px;
		line-height: 25px;
		margin-top: 0px;
		margin-bottom: 30px;
		text-align: justify;
		padding: 0 15px;
	}

	#mission > .container > .wraper > h1 {
		font-family: roboto;
		font-size: 45px;
		font-weight: 200;
		color: #FFF;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 25px;
	}

	#team > .container > .wraper > h1 {
		font-family: roboto;
		font-size: 45px;
		font-weight: 200;
		margin-top: 50px;
		margin-bottom: 25px;
		color: #FD7773;
		text-align: center;
	}
	.prev,.next{
		top: 50%;
		height: 40px;
		margin-top: -20px;
		width: 36px;
	}
	.next>.fa,.prev>.fa{
		font-size: 30px;
		padding: 4px 11px;
	}
}

/* ==========================================================================
							Responsive Design.
   ========================================================================== */
