<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসেস - হোম</title>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function(){
        $(".slidingDiv").hide();
        $(".showhide").show();
        $(".showhide2").hide();
        $('.showhide').click(function(){
            $(".showhide").hide();
            $(".showhide2").show();
            $(".slidingDiv").slideToggle();
        });
        $('.showhide2').click(function(){
            $(".showhide").show();
            $(".showhide2").hide();
            $(".slidingDiv").slideToggle();
        });
        $('#department').removeClass("activeMenu");
        $('#team').removeClass("activeMenu");
        $('#login').removeClass("activeMenu");
        $('#home').addClass("activeMenu");
    });
</script>
</head>
<body>

<!--header-- this is master>
<!--header-- this is jakaria--rs-222>
<!--header-- this is master From Shakil>
<!--header-- this is Feature From Shakil>
<!--header-- this is Feature From Shougat>
<!--header-- this is Feature From Shougat feature 1>
<!--header-- this is dev from shougat 2>
<!--header-- this is Feature From Shougat feature 3>
<!--header-- this in Master from Shakil>
<!--header-- this in Master from Shakil>
<div th:replace="fragment/header :: header">

</div>

<!--/header-->

<!--content-->
<section id="content" layout:fragment="content">
    <section id="topBanner">
        <div class="container">
            <div class="flexslider box">
            <ul class="slides" >
                <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==9}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==10}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==11}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==12}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
                <li th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==13}"><a href="#"><img th:attr="src=@{/img/siteinfo/} + ${siteInfoLists.content}" /></a></li>
            </ul>
        </div>
       </div>
    </section>
    <div class="pageWraper">
        <section id="mission">
            <div class="container">
                <div class="wraper" th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==1}" >
                    <h1 th:text="${siteInfoLists.titleBn}"></h1>
                    <p th:text="${siteInfoLists.contentBn}"></p>
                </div>
            </div>
        </section>
        <section id="downArrow"><div class="arrowDown"></div></section>
        <section id="story">
            <div class="container">
                <div class="storyWraper" th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==2}">
                    <h1 th:text="${siteInfoLists.titleBn}"></h1>
                    <p class="hideDiv" th:text="${#strings.substring(siteInfoLists.content,0,318)}"></p>
                    <p class="slidingDiv" style="display: block;" th:text="${#strings.substring(siteInfoLists.contentBn,319)}"></p>
                    <div class="keepReading">
                        <div id="hoverDiv1" class="hoverDiv1"> আরো পড়ুন</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="afterKeepReading">
            <div class="hoverDiv2" id="hoverDiv2">
              <a href="#storyWraper" id="showhide" class="showhide" style="display: none;">
                  <div class="hoverDiv"><i class="fa fa-angle-down"></i></div>
              </a>
              <a href="#storyWraper" id="showhide2" class="showhide2" style="display: none;">
                  <div class="hoverDiv"><i class="fa fa-angle-up"></i></div>
              </a>
            </div>
        </section>
        <!--<div id="show" class="slidingDiv" style="display: block;">-->
        <section id="team" >
            <div class="container">
                <div class="wraper" th:each="siteInfoLists : ${siteInfoList}" th:if="${siteInfoLists.id ==3}">
                    <h1 th:text="${siteInfoLists.titleBn}"></h1>
                    <p th:text="${siteInfoLists.contentBn}"></p>
                </div>
            </div>
        </section>
        <section class="afterKeepReading">
            <div class="hoverDiv2" id="hoverDiv2">
            </div>
        </section>
      </div>
    <section id="employees">
        <div class="container boxShadow">
            <div class="overlay" onClick="style.pointerEvents='none'"  tabindex="0" onblur="style.pointerEvents='all'"></div>
            <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Rokomari.com%2C%20Toyenbee%20Circular%20Road%2C%20Dhaka%2C%20Dhaka%20Division%2C%20Bangladesh&amp;key=AIzaSyBJQzCNPhGgCis8YFEvGg_U2ssJgQTeh6E"></iframe>
        </div>
    </section>
    <!--</div>-->
</section>
<!--/content-->

<!--common-->
<div th:replace="fragment/common :: common"> </div>
<!--common-->

<!--footer-->
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
<!--footer-->
</body>

</html>
