<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>অন্যরকম ওয়েব সার্ভিসে - লগইন</title>
    <link rel="stylesheet" href="/css/edit-profile.css"/>
    <script>
        $(document).ready(function() {
            $('#hImg').hide();
            $('#common').hide();
            $('#home').removeClass("activeMenu");
            $('#department').removeClass("activeMenu");
            $('#contact').removeClass("activeMenu");
            $('#about').removeClass("activeMenu");
            $('#team').removeClass("activeMenu");
            $('#login').addClass("activeMenu");
            $('#login span').removeClass("redText");
        });
    </script>
</head>
<body>
<!-- Add your site or application content here -->
<section id="content" layout:fragment="content">
    <div class="pageWraper">
        <section id="pageBody">
            <div class="container">
                <div class=" bodyWraper">
                    <div class="row pageTitle">
                        <p>লগইন করুন</p>
                    </div>
                    <section id="downArrow">
                        <div class="arrowDown"></div>
                    </section>
                    <div class="profileWraper">
                        <form action="#" th:action="@{/login}" method="post">
                            <div class="row profileItem">
                                <div class="loginInputField"><input type="text" id="email" name="email" class="inputField1" placeholder="ইমেল" /></div>
                                <div class="loginInputField"><input type="password" id="password" name="password" class="inputField1" placeholder="পাসওয়ার্ড" /></div>
                                <div th:if="${message != null}" th:remove="tag">
                                    <div class="alert alert-danger" th:text="${message}"></div>
                                </div>
                                <div class="loginInputField">
                                    <input type="submit" value="লগইন করুন" class="loginButton" id="login" />
                                    <a class="loginCancelButton" th:href="@{/}">বাতিল করুন</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<div th:replace="fragment/footer :: footer">&copy; 2014 The Static Templates</div>
</body>
</html>


